$dark: #2F2B2B;
$lightGray: #d9d9d9;
$lightBlue: #40C3A4;
$lightBlueHover: #40c3a454;
$ExtralightBlueHover: rgba(64, 195, 164, 0.123);

.services-wrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;

    .services-headline{
    margin-bottom: 60px;
    font-size: 50px;
    width: fit-content;
    color: $dark;
}
.services-headline::after{
    content: '';
    display: flex;
    width: 100%;
    height: 2px;
    background: $lightBlue;
    border-radius: 2px;
}
.services{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    .service:hover{
        background-color: $lightBlueHover !important;
        transition: all .3s ease-in-out;
        transform: translateY(-10px);

        div{
            .service-page-link{
            transition: all .3s ease-in-out;
            color: $dark !important;
        }
        }
        
    }
    div:not(.service-image, .service-wrap){
        background-color: $ExtralightBlueHover;
        border-radius: 20px;
        // border: 1px solid $lightBlue;
        cursor: pointer;
        div{
            div{
                position: relative;
                height: 200px;
                margin-bottom: 20px;
                .service-image{
                display: flex;
                }
            }p{
                margin-bottom: 20px;
                margin-left: 10%;
                max-width: 80%;
            }.service-description{
                max-width: 80%;
                color: #a4a4a4;
                font-size: 12px;
            }
            .service-page-link{
                padding: 20px 20px 0 10%;
                text-decoration: none;
                color: $lightBlue;
                cursor:pointer;
                
            }.service-page-link:hover{
                transition: all .3s ease-in-out;
                color: $dark;
            }
        }
    }  
    .service-wrap{
        padding-bottom: 20px;
    }
    .service-image{
        border-radius: 20px 20px 0 0;
    }
}
}
//===================== 1280px ========================================

@media screen and (max-width: 1280px) {
    .services-wrapper{
        max-width: 1024px;
    
        .services-headline{
        font-size: 46px;
        }
        .services{
            grid-template-columns: repeat(3, 1fr);
            .service{
                div{
                    p:nth-child(3){
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}

//===================== 1024px ========================================

@media screen and (max-width: 1024px) {
    .services-wrapper{
        max-width: 660px;
    
        .services-headline{
        font-size: 42px;
        }
        .services{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

//===================== 768px ========================================

@media screen and (max-width: 768px) {
    .services-wrapper{
        max-width: 480px;
    
        .services-headline{
        font-size: 40px;
        }
        // .services{
        //     div:not(.service-image, .service-wrap) {
        //         div{
        //             p{
        //                 min-height: 52px;
        //             }
        //         }
        //     }
        // } 
    }
}

//===================== 660px ========================================

@media screen and (max-width: 660px) {
    .services-wrapper{
        max-width: 480px;
    
        .services-headline{
        font-size: 40px;
        }
        .services{
            grid-template-columns: repeat(1, 1fr);
            .service{
                max-width: 340px;
                margin: 0 auto;
            }
        }
    }
}

//===================== 480px ========================================

@media screen and (max-width: 480px) {
    .services-wrapper{
        max-width: 280px;
    
        .services-headline{
        font-size: 36px;
        }
        // .services{
        //     .service{
        //         max-width: 280px;
        //         margin: 0 auto;
        //     }
        // }
    }
}