$dark: #2F2B2B;
$lightGray: #d9d9d9;
$lightBlue: #40C3A4;

.main-content{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    margin-bottom: 200px;
    .main-text{
        max-width: 782px;
        position: relative;
        margin-top: 160px;
        h1{
            font-size: 52px;
            text-align: justify;
            span{
                color: $lightBlue;
            }
        }

        .dotes{
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 6px;
            width: 93px;
            height: 50px;
            position: absolute;
            left: -10px;
            span{
                content: '';
                width: 8px;
                height: 8px;
                background: $lightBlue;
                opacity: .3;
                border-radius: 6px;
            }
        }
        a:not(.btm-arrow){
            padding: 14px 35px 14px 14px;
            display: flex;
            width: 250px;
            height: 60px;
            border: 2px solid $lightBlue;
            border-radius: 20px;
            text-decoration: none;
            color: $dark;
            font-size: 18px;
            align-items: center;
            justify-content: center;
            margin-top: 60px;
            
            img{
                margin-left: 35px;
                display: inline-flex;
            }
            
        }
        a:hover:not(.btm-arrow){
            background-color: $lightBlue;
            color: #fff;
            border: none;
            transition: all .4s ease-in-out;

            img{
                transform: translateX(10px);
                transition: all .4s ease-in-out;
            }
        }
        p{
            width: fit-content;
            height: fit-content;
            font-size: 202px;
            color: $lightBlue;
            opacity: .2;
            margin-top: 70px;
            cursor: crosshair;
        }
        p:hover{
            opacity: .3;
            font-size: 206px;
            transition: all .2s ease-in-out;
        }
        .slider-arrow{
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            
        }
        .slider-arrow:hover{
            margin-top: 5px;
            transition: all .2s ease-in-out;
        }
    }
    .slider{
        position: absolute;
        right: 0;
        top: 100px;
        img:hover{
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }
    }
}

//===================== 1280px ========================================

@media screen and (max-width: 1280px) {
    .main-content{
        max-width: 1024px;
        .main-text{
            .dotes{
                top: -10px;
                grid-gap: 5px;
                width: auto;
                height: auto;
                span{
                    width: 7px;
                    height: 7px;
                }
            }
            h1{
                font-size: 46px;
            }
            a:not(.btm-arrow){
                font-size: 16px;
            }
        }
        .slider{
            width: auto;
            top: 160px;
            img{
                transform: scale(0.8);
            }
            img:hover{
                transform: scale(0.83);
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .main-content{
        max-width: 660px;
        .main-text{
            margin-top: 80px;
            .dotes{
                top: 0;
                grid-gap: 6px;
                width: auto;
                height: auto;
                span{
                    width: 8px;
                    height: 8px;
                }
            }
            h1{
                font-size: 52px;
            }
            a:not(.btm-arrow){
                font-size: 18px;
            }
        }
        .slider{
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .main-content{
        max-width: 600px;
        .main-text{
            h1{
                font-size: 52px;
                text-align: left;
            }
            a:not(.btm-arrow){
                font-size: 18px;
            }
        }
    }
}
@media screen and (max-width: 660px) {
    .main-content{
        max-width: 480px;
        .main-text{
            .dotes{
                top: -5px;
                grid-gap: 4px;
                width: auto;
                height: auto;
                span{
                    width: 6px;
                    height: 6px;
                }
            }
            h1{
                font-size: 44px;
            }
            a:not(.btm-arrow){
                font-size: 16px;
            }
        }
    }
}

//===================== 480px ========================================

@media screen and (max-width: 480px) {
    .main-content{
        max-width: 320px;
        margin-bottom: 100px;
        .main-text{
            h1{
                font-size: 36px;
            }
            a:not(.btm-arrow){
                margin-top: 40px;
            }
            P{
                margin-top: 10px;
            }
        }
    }
}

//===================== 320px ========================================

@media screen and (max-width: 320px) {
    .main-content{
        max-width: 280px;
        .main-text{
            h1{
                font-size: 30px;
            }
            a:not(.btm-arrow){
                font-size: 14px;
                margin-top: 40px;
                max-width: 220px;
                height: 50px;
                img{
                    width: 20px;
                }
            }
            p{
                margin-top: 10px;
                font-size: 140px;
            }
            p:hover{
                font-size: 150px;
            }
        }
    }
}